attrs==19.3.0
Click==7.0
cloudpickle==1.2.2
colorama==0.4.3
dlib==19.19.0
face-recognition==1.2.3
face-recognition-models==0.3.0
filelock==3.0.12
Flask==1.1.1
funcsigs==1.0.2
importlib-metadata==1.5.0
itsdangerous==1.1.0
Jinja2==2.11.1
joblib==0.14.1
jsonschema==3.2.0
MarkupSafe==1.1.1
more-itertools==8.2.0
numpy==1.18.1
opencv-python==4.2.0.32
packaging==20.1
Pillow==7.0.0
pluggy==0.13.1
protobuf==3.11.2
py==1.8.1
pyparsing==2.4.6
pyrsistent==0.15.7
pytest==5.3.5
PyYAML==5.3
ray==0.8.1
redis==3.4.1
scipy==1.4.1
six==1.14.0
wcwidth==0.1.8
Werkzeug==0.16.1
zipp==2.1.0
